.gradient_background {
    background: linear-gradient(90deg, #010101, #161616);
    height: 100vh;
    width: 99vw;
}
body {
    margin: 0;
    padding: 0;
}
.title {
    font-family: 'Harmony', harmony;
    font-size: 52px;
    letter-spacing: 12px;
    margin-bottom: 20px;
    color: #f3f1f1;
    text-align: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 7rem;
    padding-bottom: 0rem;
}
.trailer{
    font-family: 'Westmount', Westmount;
    font-size: 41px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #f3f1f1;
    position: relative;
    max-width: 700px;
    margin: 1px auto;
    text-align: center;
    padding-bottom: 6rem;
}

.trailer::before {
    content: " ";
    display: block;
    height: 1px;
    width: 130px;
    position: absolute;
    top: 18%;
    left: 0;
    background: #dbdbdb;
}
  
.trailer::after {
    content: " ";
    display: block;
    height: 1px;
    width: 130px;
    position: absolute;
    top: 18%;
    right: 0;
    background: #f3f1f1;
    
}

.sec{
    font-family: 'MagnumSans', magnumsans;
    font-size: 36px;
    letter-spacing: 7px;
    margin-bottom: 20px;
    color: #f7f4f4;
    text-align: center;
}
.wrapper {
    height: 5px;
    display: flex;
    gap: 20px;
    align-items: center; /* Center items vertically */
}

.box {
    border: 5px solid #000;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec {
    text-align: center;
}
  