#topnav {
    width: 100%;
 
    position: absolute;
    top: 0;
    left: 0;
 
    background: linear-gradient(90deg, #010101, #161616);
 
    font-family: 'Segoe UI';
    font-size: 15px;
 }
 @media only screen and (max-width: 767px) {
  .topnav{
      font-size: 24;
  }
}
 
 .nav-link {
    display: inline-block;
    width: fit-content;
    height: 55px;
    padding-left: 20px;
 
    color: White;
 
    text-align: center;
    line-height: 55px;
 
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
 
    &:hover {
      transform: scale(1.2);
      font-style: bold;
    }
  
}
    
 
